#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.384);
  width: 350px;
  border-radius: 10px;
  padding: 10px;
}
h1 {
  color: rgb(255, 255, 255);
}
.sky-description {
  text-transform: capitalize;
}
.min-max {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
button {
  margin-top: 25px;
  padding: 8px;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgb(196,18,18);
  color: white;
  font-weight: lighter;
  border: 1px solid rgb(196,18,18);
  margin-bottom: 15px;
}
button:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}
.fa-temperature-arrow-down{
  color: rgb(25, 179, 179);
}
.fa-temperature-arrow-up{
color: rgb(238, 32, 32);
}
.fa-temperature-high{
  color: rgb(182, 122, 10);
}
.fa-droplet{
  color: blue
}
.fa-wind{
  color: aqua;
}
/* Mobile */
@media (min-width: 300px) {
  h1 {
    font-size: 40px;
    margin-top: 30px;
  }
  .fa-location-dot {
    color: rgb(196, 18, 18);
    font-size: 40px;
  }
  h2 {
    margin-top: -10px;
    font-weight: lighter;
    font-size: 50px;
  }
  .line{
    width: 300px;
    height: 1px;
    background-color:rgba(223, 224, 219, 0.322);
    border-left: 1px solid rgba(223, 224, 219, 0.322); ;
  }
  .icon {
    margin-top: -40px;
  }
  .sky-description{
    font-size: 20px;
  }
  .min-max-temp{
    font-size: 20px;
  }
  .feels-like{
    font-size: 20px;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
}
/* Laptop */
@media (min-width: 991px) and (max-width: 1200px) {
.App{
    margin-top: 50px;
  }
}
/* Desktop */
@media (min-width: 1200px) {
  .App{
    margin-top: 60px;
  }
}
/* Loader*/
.loader {
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  display: block;
  margin: 300px auto 0;
  position: relative;
  color: #FFF;
  transform: translateY(30px);
  box-sizing: border-box;
  animation: animloader 2s ease infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  color: #FFF;
  position: absolute;
  left: 30px;
  top: 0;
  animation: animloader 2s 0.2s ease infinite;
}
.loader::before {
  animation-delay: 0.4s;
  left: 60px;
}

@keyframes animloader {
  0% {
    top: 0;
    color: white;
  }
  50% {
    top: 30px;
    color: rgba(255, 255, 255, 0.2);
  }
  100% {
    top: 0;
    color: rgb(99, 5, 161);
  }
}
    
